<div class="container">
    <center><h3 style="font-weight:bold">{{judul}}</h3></center><br/>

        <div class="jumbotron" style="background-color:#a3daff">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="id" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-7">
                       <h4>{{ID}}</h4>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="nama_resep" class="col-sm-2 control-label">Nama Resep</label>
                    <div class="col-sm-7">
                        <h4>{{Nama_Resep}}</h4>
                    </div>
                </div> 

                <div class="form-group">
                    <label for="deskripsi" class="col-sm-2 control-label">Deskripsi</label>
                    <div class="col-sm-7">
                        <h4>{{Deskripsi}}</h4>
                    </div>
                </div>

                <div class="form-group">
                    <label for="penulis" class="col-sm-2 control-label">Penulis</label>
                    <div class="col-sm-7">
                        <h4>{{Penulis}}</h4>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cara_pembuatan" class="col-sm-2 control-label">Cara Pembuatan</label>
                    <div class="col-sm-7">
                        <h4>{{Cara_Pembuatan}}</h4>
                        
                        <br/>
                        <a class="btn btn-defult" href="/" role="button">Back</a>
                    </div>
                </div> 
            </form>  
        </div>




        <br/><br/><br/><br/><br/>
</div> 
